.login{
	width: 30%;
	margin: 50px auto;
	box-sizing: border-box;
	padding: 50px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.signupForm{

}
.signupForm >h3{
	margin: 0;
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.signupForm >.form-group{
	width: 100%;
}
.signupForm >.form-group >label{

}
.signupForm >.form-group >div.input-group{
	width: 100%;
}
.signupForm >.form-group >div.input-group >div{
	width: 45px;
}
.signupForm >.form-group >div.input-group >input{

}